<div class="form-group">
  <select class="form-control selectpicker" name="city" id="filter-city" title="Cidade">
    <option value="Campinas" selected="selected">Campinas, SP</option>
  </select>
</div>
<div class="form-group">
  <select class="form-control selectpicker" name="year" id="filter-year" title="Ano">
    <option value="2014" selected="selected">2014</option>
  </select>
</div>
<div class="form-group">
  <select class="form-control selectpicker" name="month" id="filter-month" title="Mês">
    <option value="">Todos</option>
    <% @months.each do |month| %>
      <option value="<%= month.value %>"
        <% if params[:month] == month.value %>
          selected="selected"
        <% end %>
      ><%= month.name %></option>
    <% end %>
  </select>
</div>
<div class="form-group">
  <select class="form-control selectpicker" name="domain" id="filter-domain" title="Domínio">
    <optgroup label="Domínio">
      <option value="">Todos</option>
      <% @domains.each do |domain| %>
        <option value="<%= domain.value %>"
          <% if params[:domain] == domain.value %>
            selected="selected"
          <% end %>
        ><%= domain.label %></option>
      <% end %>
    </optgroup>
  </select>
</div>
<div class="form-group">
  <select class="form-control selectpicker" name="subdomain" id="filter-subdomain" title="Subdomínio">
    <optgroup label="Subdomínio">
      <option value="">Todos</option>
      <% @subdomains.each do |subdomain| %>
        <option value="<%= subdomain.value %>"
          <% if params[:subdomain] == subdomain.value %>
            selected="selected"
          <% end %>
        ><%= subdomain.label %></option>
      <% end %>
    </optgroup>
  </select>
</div>
<div class="form-group">
  <select class="form-control selectpicker" name="nature" id="filter-nature" title="Natureza">
    <optgroup label="Natureza">
      <option value="">Todas</option>
      <% @natures.each do |nature| %>
        <option value="<%= nature.value %>"
          <% if params[:nature] == nature.value %>
            selected="selected"
          <% end %>
        ><%= nature.value %></option>
      <% end %>
    </optgroup>
  </select>
</div>
<% if current_user %>
  <input type="hidden" name="user_id" id="user_id" value="<%= current_user.id %>"/>
<% else %>
  <input type="hidden" name="user_id" id="user_id" value=""/>
<% end %>
<input type="hidden" name="first" id="filter-first" value="<%= @first.to_s %>"/>
