<form class="form-inline">
  <div class="form-group">
    <select class="form-control selectpicker" id="filter-year" title="Cidade">
      <option value="Campinas" selected="selected">Campinas, SP</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control selectpicker" id="filter-year" title="Ano">
      <option value="2014" selected="selected">2014</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control selectpicker" id="filter-month" title="Mês">
      <option value="">Todos</option>
      <option value="01">Janeiro</option>
      <option value="02">Fevereiro</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control selectpicker" id="filter-domain" title="Domínio">
      <optgroup label="Domínio">
        <option value="">Todos</option>
        <% @domains.each do |domain| %>
          <option value="<%= domain.value %>"><%= domain.value %></option>
        <% end %>
      </optgroup>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control selectpicker" id="filter-subdomain" title="Subdomínio">
      <optgroup label="Subdomínio">
        <option value="">Todos</option>
        <% @subdomains.each do |subdomain| %>
          <option value="<%= subdomain.value %>"><%= subdomain.value %></option>
        <% end %>
      </optgroup>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control selectpicker" id="filter-nature" title="Natureza">
      <optgroup label="Natureza">
        <option value="">Todas</option>
        <% @natures.each do |nature| %>
          <option value="<%= nature.value %>"><%= nature.value %></option>
        <% end %>
      </optgroup>
    </select>
  </div>
</form>
