<div class="form-group">
  <strong>Busca <%= index %></strong>
</div>
<div class="form-group">
  <select class="form-control selectpicker" name="city[<%= index %>]" id="filter-city" title="Cidade">
    <option value="Campinas" selected="selected">Campinas, SP</option>
  </select>
</div>
<div class="form-group">
  <select class="form-control selectpicker" name="year[<%= index %>]" id="filter-year" title="Ano">
    <option value="2014" selected="selected">2014</option>
  </select>
</div>
<div class="form-group">
  <select class="form-control selectpicker" name="domain[<%= index %>]" id="filter-domain" title="Domínio">
    <optgroup label="Domínio">
      <option value="">Todos</option>
      <% @domains.each do |domain| %>
        <option value="<%= domain.value %>"
          <% if params[:domain].present? && params[:domain][index] == domain.value %>
            selected="selected"
          <% end %>
        ><%= domain.value %></option>
      <% end %>
    </optgroup>
  </select>
</div>
<div class="form-group">
  <select class="form-control selectpicker" name="subdomain[<%= index %>]" id="filter-subdomain" title="Subdomínio">
    <optgroup label="Subdomínio">
      <option value="">Todos</option>
      <% @subdomains.each do |subdomain| %>
        <option value="<%= subdomain.value %>"
          <% if params[:subdomain].present? && params[:subdomain][index] == subdomain.value %>
            selected="selected"
          <% end %>
        ><%= subdomain.value %></option>
      <% end %>
    </optgroup>
  </select>
</div>
<div class="form-group">
  <select class="form-control selectpicker" name="nature[<%= index %>]" id="filter-nature" title="Natureza">
    <optgroup label="Natureza">
      <option value="">Todas</option>
      <% @natures.each do |nature| %>
        <option value="<%= nature.value %>"
          <% if params[:nature].present? && params[:nature][index] == nature.value %>
            selected="selected"
          <% end %>
        ><%= nature.value %></option>
      <% end %>
    </optgroup>
  </select>
</div>
