<div class="panel panel-default">
  <% if params[:nature].present? && params[:nature][index].present? %>
    <div class="panel-heading">Busca <%= index %>: <%= params[:nature][index] %></div>
  <% elsif params[:subdomain].present? && params[:subdomain][index].present? %>
    <div class="panel-heading">Busca <%= index %>: <%= params[:subdomain][index] %></div>
  <% elsif params[:domain].present? && params[:domain][index].present? %>
    <div class="panel-heading">Busca <%= index %>: <%= params[:domain][index] %></div>
  <% else %>
    <div class="panel-heading">Busca <%= index %>: 2014</div>
  <% end %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <% @months.each do |month| %>
            <% if !(params[:month].present? && params[:month][index].present?) || month.value == params[:month][index] %>
              <th class="text-center"><%= month.name %></th>
            <% end %>
          <% end %>
          <% if @totais[index].count > 1 %>
            <th class="text-center">Total</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <tr>
            <% @totais[index].each do |total| %>
              <td class="text-center text-nowrap">R$ <%= total %></td>
            <% end %>
            <% if @totais[index].count > 1 %>
              <td class="text-center text-nowrap">R$ <%= @total[index] %></td>
            <% end %>
          </tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>
